html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 900px / 16 = 56.250em */
/* There seems to be a bug rendering fonts in mozilla on macs. The moz-osx css line fixed the visual issue. This may only be necessary when there is only one font served from typekit and the weights are specified by numerical values. */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font: 400 100%/1.6 "Helvetica Neue", Helvetica, sans-serif;
  color: #999999;
  background-color:#f1f1f2;
  text-rendering: optimizeLegibility; }

p, ul {
  font-size: 100%;
  color: #616161;
  padding: 0 .75em 1.5em .75em;
  letter-spacing: .125px; }
  p a, ul a {
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #4ec99b; }
    p a:hover, ul a:hover {
      color: #292f33; }
    html.no-touch p a:hover, html.no-touch ul a:hover {
      color: #292f33; }
  @media screen and (min-width: 700px) {
    p, ul {
      padding: 0 0 1.5em 0; } }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Apply a natural box layout model to all elements see http://paulirish.com/2012/box-sizing-border-box-ftw */
div,
article,
section,
header,
footer,
nav,
figure,
li {
  position: relative; }
/* For absolutely positioning elements within containers  */

html { background: #f1f1f2; }

header { width:90%; margin:0 auto; position:relative; max-width:240px; text-align:center;}
	@media screen and (min-width: 700px) {
		header {  max-width:400px; } 
	}

img { width: 100%; height: auto; display: block; }
/* img { display:block; } This is to get rid of the weird, tiny 4px white space between the images horizontally */
  
.buy-button { background-color:#4ec99b; font-family:"Avenir Next LT W02SC Medium Cn", "Helvetica Neue", Helvetica, Arial, sans-serif; color:#FFFFFF; font-size:130%; text-decoration:none; margin:0 auto; display:inline-block; border-radius: 4px; cursor:pointer; padding:.5em 1em; margin-top:1em; margin-bottom:1.5em; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
	@media screen and (min-width: 700px) {
		.buy-button {  font-size:150%; } 
	}

.buy-button:hover { background-color:#292f33; }
	
.twitter-wrap { display:block; width:50px; margin:auto; padding:1em 0 2em 0; }
	
#twitter-logo { width:100%; fill:#55acee; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
#twitter-logo:hover { fill:#292f33; }
